%h4 Moods

- @moods.each do |mood|
  %h6= mood.name
  %ul.list-group
    - mood.users.each do |user|
      - if user.boards.include? @board
        %li.list-group-item{ class: class_for_mood(mood) }=user.name
