%h2.sub-header Todo List
.table-responsive
  %table.table.table-striped
    %thead
      %tr
        %th #
        %th Header
        %th Header
        %th Header
        %th Header
    %tbody
      %tr
        %td 1,001
        %td Lorem
        %td ipsum
        %td dolor
        %td sit
      %tr
        %td 1,002
        %td amet
        %td consectetur
        %td adipiscing
        %td elit
      %tr
        %td 1,003
        %td Integer
        %td nec
        %td odio
        %td Praesent
